body{
    text-align: center;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.top {
    background-color: rgb(181, 237, 245);
}
h1 {
    font-family: 'Pacifico' , sans-serif;
    color: #66BFBF;
    font-size: 50px;
    padding-bottom: 10px;
    line-height: 2;
}
h2{
    font-family: 'montserrat' , sans-serif ;
    color: #66BFBF;
    margin-top: 50px;
    font-size: 1rem;
    font-family: normal;
    font-size: 30px;
    
}
h3 , a{
    font-family: 'montserrat' , sans-serif ;
    color:#11999E ;
    font-size: 30px;
}
.top{
    position: relative;
    padding-top: 200px;
    
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 500px;
}
.yourimage{
    width: 100px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.electrical-enginnering{
    width: 25%;
    float: left;
    padding-right: 30px;
}
.webdevelober{
    width: 25%;
    float: right;
    padding-right: 30px;
}



hr{
    width: 10%;
    color: #13816f;
    border-width: 7px;
    border-style: none;
    border-top-style: dotted;
}

.intro{
    width: 30%;
    margin: auto;
}

.copyrights{
    color: #EAF6F6 ;
    margin-top: 80px;
}

.bottom-container{
    color:rgb(181, 237, 245) ;
    position: relative;
}

.footer-link1{
    color:#11999E;
    position: absolute;
    left: 300px;
    top: 50px;
    font-size: medium;
}
a{
    font-family: 'montserrat' , sans-serif ;
    margin: 10px 20px;
    text-decoration: none;
    color: #11999E;
    font-size: 1em;
}
a:hover {
    color: #EAF6F6;
}


.bottom-container{
    background-color: rgb(181, 237, 245);
    position: relative;
    height: 150px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 90px auto;
    border-top: 20px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact-me{
    height: 350px;
}
.contact-massage{
    width: 30%;
    margin: 40px auto 60px;
}
